.spread {
    width: 250px;
    height: 280px;
    position: relative;
    margin: 0 auto;
}

.spread .eachCard{
    position: absolute;
    -webkit-box-shadow: 1px 1px 7px rgba(0,0,0,0.4);
    box-shadow: 1px 1px 7px rgba(0,0,0,0.4);
}

.eachCard:nth-child(1){
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg);
}

.eachCard:nth-child(2){
    left: 30px;
    top: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}

.eachCard:nth-child(3){
    left: 60px;
    top: 5px;
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
}

.eachCard:nth-child(4){
    left: 80px;
    top: 10px;
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
}
