.Card{
    transition: all 0.5s ease;
    position: relative;
    padding: 10px;
    float: left;
    width: 150px;
    height: 200px;
    border-radius: 10px;
    -webkit-box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
    box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
}

.Card:hover{
    cursor: pointer;
}


.Card:nth-child(1){
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg);
}

.Card:nth-child(2){
    left: 20px;
    top: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}

.Card:nth-child(3){
    left: 40px;
    top: 5px;
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
}

.Card:nth-child(4){
    left: 60px;
    top: 10px;
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
}

.Card:nth-child(5){
    left: 80px;
    top: 15px;
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
}



.faceUp .top-left{
    position: absolute;
    top: 40px;
}

.Card .top-left span, .Card .bottom-right span{
        font-size: 18px;
}

/* .Card:hover{
    transform: scale(1.02,1.02);
} */

.faceUp p{
    text-align: center;
    font-size: 60px;
}


.faceUp{
    background-color: #fff;
}

.faceUp .bottom-right{
    position: absolute;
    bottom: 40px;
    right: 10px;
}

.faceDown{
    background-image: url('../../images/cardback.gif');
    border-color: #808080 #000000 #000000 #808080;
    background-color: white;
 
}
.faceDown div[class*='suit']:before, .faceDown div[class*='suit']:after, .faceDown p, .faceDown .bottom-right, .faceDown .top-left{
    display: none !important;
}


div[class*='suit']:before {
    position: absolute;
    font-size: 35px;
    left: 5px;
    top: 5px;
}

div[class*='suit']:after {
    position: absolute;
    font-size: 35px;
    right: 5px;
    bottom: 5px;
}

.suitSPADES::before, .suitSPADES::after {
    content: "♠";
    color: rgb(0, 0, 0);
}

.suitHEARTS::before, .suitHEARTS::after {
    content: "♥";
    color: rgb(255, 0, 0);
}

.suitCLUBS::before, .suitCLUBS::after {
    content: "♣";
    color: rgb(0, 0, 0);
}

.suitDIAMONDS::before, .suitDIAMONDS::after {
    content: "♦";
    color: rgb(255, 0, 0);
}


@media (max-width: 812px){
    .Card{
        width: 120px;
        height: 180px;
    }

    

    div[class*='suit']:before {
        font-size: 28px;
    }
    
    div[class*='suit']:after {
        font-size: 28px;
    }
    .Card p {
        font-size: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}