.Dealer .title h1{
    text-align: center;
}

.Dealer .buttonSet{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 400px;

}

.Dealer .buttonSet button{
    display: block;
    position: relative;
    line-height: 2.0;
    cursor: pointer;
    border-style: solid;
    border-width: 2px;
    padding: 0 1.2em;
    font-size: 1em;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    border-radius: 50px;
    width: 100%;
    max-width: 180px;
    color: black;
    border-color: #fce403;
    background-color: #fce403;
}

.Dealer .buttonSet button:hover{
    background-color: transparent;
}